body {
  font-family: 'Georgia', serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  font-style: italic;
  margin-top: 0;
}

article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #ff9900;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
}